<div class="row">
    <h1>Users</h1>
    <hr>
    <div class="col-sm-6">
        <p>Create a new course:</p>
        <form class="subscription-form" action="/addcourse" method="post">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="description" placeholder="Description">
            <input type="text" name="zipCode" placeholder="Zip Code" pattern="[0-9]{5}">
            <input type="submit" name="submit">
        </form>
    </div>
    <div class="col-sm-6">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>ZipCode</th>
                </tr>
            </thead>
            <tbody>
                <% courses.forEach(course => { %>
                    <tr>
                        <td><%= course.title %></td>
                        <td><%= course.description %></td>
                        <td><%= course.zipCode %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

