<div class="col-sm-6 data-form">
    <form action="/subscribers/create" method="POST">
    <h2>Subscribe!</h2>
    <input type="text" name="name" id="inputName" placeholder="Name" autofocus>
    <br>
    <input type="email" name="email" id="inputEmail" placeholder="Email address" required>
    <br>
    <input type="text" name="zipCode" id="inputZipCode" pattern="\d*" placeholder="Zip Code" required>
    <br>
    <button type="submit">Create</button>
   </form>
</div>